/* Global Color Variables for Theme Manipulation*/

$white : #FFFFFF;
$black : #000000;
$primary-text: #212121;

$gray : #DDDDDD;
$light-gray : #f4f4f4;
$dark-gray : #555e6f;
$primary-gray : darken(#555e6f, 10%);

//$body-bg : #f7f7f7;
//$nav-bar-bg : #616161;
//$nav-bar-color: #f5f5f5;
$body-bg : #eef1f5;
$nav-bar-bg : #2b3643;
$nav-bar-color: #b4bcc8;

$blue : #4d92cb;
$orange : rgb(247, 163, 92);
$green : #4db848;
$light-gray-bg : #aaaaaa;
$red : #ff4500;